{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "node",
    "AzureWebJobsFeatureFlags": "EnableWorkerIndexing",
    "PRIVATE_KEY_TEST": "YOUR_PRIVATE_KEY",
    "CHAIN_RPC_SEPOLIA": "https://ethereum-sepolia.blockpi.network/v1/rpc/public",
    "CHAIN_RPC_POLYGONMUMBAI": "https://rpc.ankr.com/polygon_mumbai",
    "CHAIN_RPC_BSCTESTNET": "https://bsc-testnet.public.blastapi.io",
    "CHAIN_RPC_TRONSHASTA": "https://api.shasta.trongrid.io"
  }
}